
<!DOCTYPE html>
<html>
<head>

</head>
<body>
    <form action="" method="post">
        <div>
            <lable>
                Enter Employee Id
            </lable>
            <input type="text" name="Eno" value=""/>
        </div>
        <div>
            <lable>
                Enter Employee Name
            </lable>
            <input type="text" name="EName" value=""/>
        </div>
        <div>
            <lable>
                Enter Employee Job
            </lable>
            <input type="text" name="Job" value=""/>
        </div>
        <div>
            <lable>
                Enter Employee Salary
            </lable>
            <input type="text" name="Salary" value=""/>
        </div>
        <div>
            <lable>
                Enter Employee Dname
            </lable>
            <input type="text" name="Dname" value=""/>
        </div>

        <input type="submit" name="" value="Insert"/>

    </form>
    <br />
    <div>  
        <a href="/">Back To Home</a>
    </div>
    <br />
    @ViewBag.Mes


</body>
</html>









